@charset "utf-8";
/* CSS Document */
#container{
	margin:0 auto;
	width:1200px;
	height:923px;
	background:#CCC;
}

#header{
	width:1200px;
	height:120px;
	background:#87CEEB;
}

#pic{
	float:left;
	margin:10px;
	width:600px;
	height:100px;
	background:#CFC;;
}

#manage_info{
	text-align:center;
	margin:10px;
	float:left;
	width:300px;
	height:40px;
	background:#90C;
}

#name{
	float:left;
	position:relative;
	margin-left:10px;
	margin-top:7px;
	width:100px;
	height:20px;
}

#logout{
	float:left;
	width:50px;
	height:20px;
	margin-left:100px;
	margin-top:5px;
}

#middle{
	margin-top:10px;
	width:1200px;
	height:700px;
	background:#CCCCCC;
}

#mid_left{
	text-align:center;
	position:relative;
	float:left;
	margin-top:10px;
	margin-left:10px;
	width:200px;
	height:680px;
	background:#30F;
}

.mid_left_btn{
	padding-top:30px;
	margin:20px;
	float:left;
	width:160px;
	height:50px;
	background:#CFC;
}

#mid_right{
	text-align:center;
	padding-top:10px;
	position:relative;
	float:right;
	margin:10px;
	width:960px;
	height:auto;
	overflow:hidden;
	background:#DDDEEE;
	padding-left:10px;
}

#footer{
	margin-top:10px;
	width:1200px;
	height:80px;
	background:#CCC;
}