<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WebCook</display-name>
  <servlet>
    <description>后台及管理员登陆使用</description>
    <display-name>后台管理员登陆界面</display-name>
    <servlet-name>adminloginServlet</servlet-name>
    <servlet-class>com.order.online.web.adminloginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>等待后台制作完成</description>
    <display-name>等待完成</display-name>
    <servlet-name>order_arrivalServlet</servlet-name>
    <servlet-class>com.order.online.web.order_arrivalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>等待评价</description>
    <display-name>历史订单</display-name>
    <servlet-name>order_okServlet</servlet-name>
    <servlet-class>com.order.online.web.order_okServlet</servlet-class>
  </servlet>
  <servlet>
    <description>等待评价</description>
    <display-name>等待送达</display-name>
    <servlet-name>order_readyServlet</servlet-name>
    <servlet-class>com.order.online.web.order_readyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>等待评价</description>
    <display-name>等待确认</display-name>
    <servlet-name>order_rightServlet</servlet-name>
    <servlet-class>com.order.online.web.order_rightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloginServlet</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>order_arrivalServlet</servlet-name>
    <url-pattern>/people_order_arrival</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>order_okServlet</servlet-name>
    <url-pattern>/people_order_ok</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>order_readyServlet</servlet-name>
    <url-pattern>/people_order_ready</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>order_rightServlet</servlet-name>
    <url-pattern>/people_order_right</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>