@charset "utf-8";

.b{
float:right;
position:relative;
top:40px;
right:30px;
width:700px;
height:auto;
overflow:hidden;
}
.btitle{
border-style:solid;
border-radius:10px 10px 10px 10px;
position:relative;
float:left;
top:40px;
left:250px;
width:200px;
height:40px;
text-align:center;
font-size:36px;
}
.b1{
position:relative;
float:left;
top:30px;
margin-left:35px;
overflow:hidden;
width:180px;
height:200px;
}
.b11{
position:relative;
float:left;

width:180px;
height:160px;
	}
.b12{
text-align:center;
width:180px;
height:40px;
font-size:30px;
}
.b2{
position:relative;
float:left;
top:30px;
margin-left:35px;
overflow:hidden;
width:180px;
height:200px;
}
.b21{
position:relative;
float:left;
width:180px;
height:160px;	
	}
.b22{
text-align:center;
width:180px;
height:40px;
font-size:18px;
}
  