@charset "utf-8";
 CSS Docu  @charset "utf-8";
 


.main_3{
cursor:default;
position:relative;
float:left;
width:800px;
height:auto;
overflow:hidden;
margin-top:40px;
border-style:solid 2px;
}
	.b1{
		position:relative;
	    float:left;
		width:400px;
		height:120px;
		left:40px;
		top:30px;	
		}
		.b11{
			width:70px;
			height:70px;
			position:relative;
	        float:left;
			top:40px;
			margin-left:30px;
			
			}
		.b12{
			width:260px;
			height:120px;
			position:relative;
		    float:left;
			left:40px;
		    margin-bottom:35px;	
			}
	  .b2{
		  background:#F60;
		   position:relative;
		   float:left;
		   top:60px;
		   left:100px;
		   width:200px;
		   height:80px;	
		   border-radius: 10px 10px 10px 10px;
		   }
		  .b21{
		  
		   position:relative;
		   text-align:center;
		   border-style:none;
		   left:20px;
		   margin-top:30px;
		 
		   height:40px;
		   width:150px;
		   font-size:24px;
		   background:#F60;
		   
		   }
	
	.b3{
		position:relative;
		float:left;
		top:50px;
		margin-right:20px;
		width:750px;
        height:630px;
		}
	.b31{
		position:relative;
		float:left;
		margin-top:30px;
		margin-left:50px;
		width:200px;
		height:150px;
		text-align:center;
		border-radius:10px 10px 10px 10px;
	    background:#FF0;	
		}
		.b311{
		position:relative;
		font-size:30px;
		top:20px;
		left:10px;
		width:150px;
        height:90px;		
					}
		.b312{
			position:relative;
			top:20px;
			}
	  .b32{	position:relative;
		float:right;
		margin-top:30px;
	
		width:200px;
		height:150px;
		text-align:center;
		border-radius:10px 10px 10px 10px;
	    background:#FF0;}
	.b3B{
		position:relative;
		float:left;
		margin-top:20px;
		margin-left:300px;
		width:200px;
		height:50px;
		text-align:center;
		
	   	
		}
		
		