@charset "utf-8";


.main_1{
position:relative;
margin-left:150px;
border-left:0;
}

.a{
font-size:30px;
width:772px;
height:50px;
text-align:center;

}
.show{
position:relative;
margin-top:15px;
border:solid;
width:772px;
height:auto;
overflow:hidden;

}
.liuyan_time{
position:relative;
float:left;
width:384px;
height:50px;
font-size:20px;
}
.huifu_time{
position:relative;
float:right;
width:384px;
height:50px;
font-size:20px;
text-align:right;
}
.liuyan_titile{
position:relative;
float:left;
width:500px;
height:30px;
font-size:20px;
text-indent:20px;
}
.huifu_title{
position:relative;
float:right;
width:500px;
height:30px;
font-size:20px;
text-indent:20px;
}
.liuyan_text{
position:relative;
float:left;
width:500px;
min-height:50px;
height:auto;
font-size:20px;
text-indent:20px;
border-style:solid;
border-color:#087EEC;
border-radius:10px 10px 10px 10px;
}
.kongbai{
position:relative;
float:left;
width:772px;
height:10px;


}
.huifu_text{
position:relative;
float:right;
width:500px;
min-height:50px;
height:auto;
font-size:20px;
text-indent:20px;
border-style:solid;
border-color:#087EEC;
border-radius:10px 10px 10px 10px;

}
