@charset "utf-8";
/* CSS Document */ 
.main_1{
position:relative;
float:left;
width:790px;
height:auto;
overflow:hidden;
border-style:solid 2px;
margin-top:20px;
margin-left:10px;
border-left:2px #87CEEB solid;
}
form{
	position:relative;
	float:left;
	left:80px;
	margin:20px auto;
	font-size:36px;
	text-align:center;
}
tr{font-size:22px;}
input{width:250px;height:25px;}