@charset "utf-8";
/* CSS Document */


.right_under{position:relative;float:right;width:700px;height:auto;right:30px;cursor:default;border:#87CEEB 1px solid;}
.ctitle{position:relative;text-align:center;width:700px;height:40px;font-size:30px;border-bottom:#87CEEB 1px solid;}
.right_table{position:relative;text-align:center;width:700px;height:80px;font-size:24px;border-bottom:#87CEEB 1px solid;}
.right_table_style{position:relative;float:left;;width:138px;margin-top:24px;height:32px;border-left:#87CEEB 1px solid;border-right:#87CEEB 1px solid;}


.right_undertable{position:relative;float:right;width:702px;height:auto;right:30px;cursor:default;}

.right_list{position:relative;float:right;width:700px;height:auto;margin-top:20px;overflow:hidden;border:#87CEEB 1px solid;font-size:20px;overflow:hidden;}
.right_time{background:#CCCCCC;position:relative;float:left;width:300px;height:50px;}
.right_id{background:#CCCCCC;position:relative;float:left;width:400px;height:50px;}
.right_food{position:relative;float:left;width:399px;height:auto;}

.right_allmoney{position:relative;float:left;margin-top:15px;width:100px;height:30px;border-left:#87CEEB 1px solid;text-align:center;}
.right_pingjia{position:relative;float:left;margin-top:15px;width:150px;height:30px;border-left:#87CEEB 1px solid;text-align:center;}

.right_scy{position:relative;float:left;margin-top:15px;width:334px;height:30px;border-left:#87CEEB 1px solid;text-align:center;}

.right_scyphone{position:relative;float:left;margin-top:15px;width:334px;height:30px;border-left:#87CEEB 1px solid;text-align:center;}

.right_yujitime{position:relative;float:left;width:334px;height:30px;border-top:#87CEEB 1px solid;text-align:center;border-right:#87CEEB 1px solid;}

.right_daodatime{position:relative;float:left;width:334px;height:30px;border-top:#87CEEB 1px solid;text-align:center;}

.right_beizhu{position:relative;float:left;width:768px;height:30px;border-top:#87CEEB 1px solid;text-align:left}
.bg{background:#87CEEB;text-align:center;}

.right_yipingjia{position:relative;float:left;width:768px;height:30px;border-top:#87CEEB 1px solid;text-align:left;}

.right_adress{position:relative;float:left;width:768px;height:30px;border-top:#87CEEB 1px solid;text-align:left;}
